.header {
  background-color: #f8bbd0;
  padding: 1rem 0; /* Elimina padding horizontal para evitar desbordes */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  
}

.header-container {
  width: 100%;
  max-width: 1200px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra el contenido */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Separa título y botón */
  padding: 0 2rem; /* Añade espacio interno sin romper el diseño */
}

.header h1 {
  color: #e91e63;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.header .btn {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header .btn:hover {
  background-color: #c2185b;
}
