.stats-default {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 1rem;
}

.stats-info {
  background-color: #cce5ff;
  border-radius: 12px;
  padding: 1rem;
}

.progress-container {
  background-color: #f8bbd0;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.stats-default, .stats-info, .progress-container {
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  max-width: 200px;
  min-width: 200px;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}
