.activity-list-container {
    flex-direction: column;
    align-items: center;
}

.activity-card {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.activity-footer {
    margin-top: 20px;
}

.registro-actividad-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}