body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9e4e4;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  color: #e91e63;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #e91e63;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #e91e63;
  border-radius: 5px;
  overflow: hidden;
  width: -webkit-fill-available;
}
.input-group-prepend,
.input-group-append {
  background-color: #f8bbd0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-text {
  color: #e91e63;
}

.form-control {
  flex: 1;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
}

.btn-primary {
  background-color: #e91e63;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c2185b;
}

.btn-primary:disabled {
  background-color: #f8bbd0;
  cursor: not-allowed;
}

.registro-link {
  margin-top: 1rem;
  color: #e91e63;
}

.registro-link a {
  color: #c2185b;
  text-decoration: none;
  font-weight: bold;
}

.registro-link a:hover {
  text-decoration: underline;
}